@import "./fonts.css";

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: IBM Plex Sans;
}

.text-right {
  text-align: right;
}

table th,
table td {
  border: 1px solid var(--chakra-colors-gray-300);
  padding: 0.5rem;
}

table th {
  position: relative;
  background-color: var(--chakra-colors-gray-200);
}

table td div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table th svg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100% !important;
  width: 0.5rem;
  padding: 0 0.25rem;
  color: var(--chakra-colors-gray-300);
  cursor: pointer;
}

table th svg:hover {
  background-color: var(--chakra-colors-gray-400);
}
